{% extends "base_layout.html" %}
{% block title %}Library Management System - Home Page{% endblock %}
{% block content %}
<div class="header">
  <h1>Library Management System</h1>
  <a href="/librarian_login" class="btn btn-outline-info btn-lg">Librarian Login</a>
</div>
<div class="home-page">
  <div class="d-grid gap-3 col-5 mx-auto">
    
    <a href="/login" class="btn btn-outline-info btn-lg">Login</a>
    <a href="/register" class="btn btn-outline-info btn-lg">Register</a>
  </div>
</div>
{% endblock %} 
