{% extends "base_layout.html" %}
{% block title %}Library Management System - Student My Book Page{% endblock %}
{% block content %}
  <div class="header">
    <h1>{{user.name}} {{user.surname}}'s  My Book Page</h1>
    <a href="/logout" class="btn btn-outline-info btn-lg">Logout</a>
  </div>
  <nav class="navbar" style="background-color: aqua;">
    <a href="/student_dashboard/all_books" style="color: #EA445A;text-decoration: none;">All Books</a>
    <a href="/student_dashboard/my_books" style="color: #EA445A;text-decoration: none;">My Books</a>
    <a href="/student_dashboard" style="color: #EA445A;text-decoration: none;">Back to Dashboard</a>
    <form method="POST" action="/search_books" class="d-flex" role="search">
        <input type="text" name="query" placeholder="Search books"class="form-control me-2" style="color: black;">
        <select name="filter" placeholder="" class="form-select" id="search-form">
            <option value="book_name">Book Title</option>
            <option value="author">Author</option>
            <option value="section">Section</option>
            <option value="all">All Books</option>
        </select>
        <input type="submit"value="Search" class="btn btn-outline-dark" id="search-btn"></input>
    </form>
  </nav>
  <div style="background-color: black; color: yellow;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    {% if books|length >= 1 %}
        <table class="table" style="width: 80%;margin-left: 2%;text-align: center;">
            <h3>Your Books</h3>
            <tr class="table-light">
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Section  </th>
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Book PDF</th>
                <th>Audio Book</th>
                <th>Review</th>
            </tr>
            {% for request, book, section in books %}
            <tr class="table-info">
                <td>{{ loop.index }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.author_1 }}  </td>
                <td>{{ section.name }}</td>
                <td>{{ book.issue_date.date() }}</td>
                <td>{{ book.return_date.date() }}</td>
                {% if payment_status.get(book.id, False) %}
                <td><a href="{{ url_for('initiate_download', book_id=book.id) }}" class="btn btn-outline-primary">Download PDF</a></td>
            {% else %}
            <td><a href="{{ url_for('payment_gateway', book_id=book.id) }}" class="btn btn-outline-dark">Pay For Download</a></td>
            {% endif %}
                <td><a href="{{url_for('text_to_speech', book_id=book.id)}}" class="btn btn-outline-danger">Listen Audio</a></td>
                <td><a href="{{ url_for('review_book', book_id=book.id) }}" class="btn btn-outline-dark">Review Book</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>You have no books</h3>
    {% endif %}

    {% if pending_books|length >= 1 %}
        <table class="table" style="width: 80%;margin-left: 2%;text-align: center;">
            <h3>Your Requests</h3>
            <tr class="table-light">
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Section  </th>
                <th>Status</th>
            </tr>
            {% for request, book, section in pending_books %}
            <tr class="table-info">
                <td>{{ loop.index }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.author_1 }}  </td>
                <td>{{ section.name }}</td>
                <td ><span style="text-transform: capitalize;">{{ request.status}}</span> Approval</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No Pending Requests</h3>
    {% endif %}
{% endblock %}